body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main {
    text-align: center;
    background-image: url('imagenes/mianback.png');
    background-size: cover;
    padding: 240px 20px;
    color: #1e1f22;
}

.main h1, .main p {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.main h1 {
    font-size: 2.5em;
    margin: 0;
}

.main p {
    font-size: 1.2em;
    margin: 20px 0;
}

.main button {
    background-color: #0288d1;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.header {
    background-color: #b3e5fc;
    padding: 20px;
    text-align: center;
}

.header img {
    max-width: 50px;
    vertical-align: middle;
}

.header nav {
    display: inline-block;
    margin-left: 20px;
}

.header nav a {
    margin: 0 10px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.section {
    display: none;
    padding: 20px;
}

.section.active {
    display: block;
}

.categories {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categories h2 {
    text-align: center;
}

.categories label {
    display: block;
    margin: 20px 0 10px;
    font-weight: bold;
}

.categories input[type="text"], .categories select, .categories input[type="number"] {
    width: 85%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.categories input[type="range"] {
    width: 100%;
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.radio-group div {
    text-align: center;
    margin: 0 10px;
}

.radio-group input[type="radio"] {
    display: block;
    margin: 0 auto;
}

.categories .range-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.categories button {
    background-color: #0288d1;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    display: block;
    width: 100%;
}

.categories button:hover {
    background-color: #0277bd;
}

.results {
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.results img {
    max-width: 300px;
    margin-right: 20px;
    border-radius: 10px;
}

.results .description {
    flex: 1;
}

.results .description h3 {
    margin-top: 0;
}

.results .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.results .buttons button {
    background-color: #0288d1;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
    margin: 0 10px;
}

.results .buttons button:hover {
    background-color: #0277bd;
}

.signup {
    max-width: 400px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup h2 {
    text-align: center;
}

.signup label {
    display: block;
    margin: 20px 0 10px;
    font-weight: bold;
}

.signup input[type="text"], .signup input[type="email"], .signup input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup button {
    background-color: #0288d1;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    display: block;
    width: 100%;
}

.signup button:hover {
    background-color: #0277bd;
}

.footer {
    background-color: #b3e5fc;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#canvas-section {
    text-align: center;
    padding: 20px;
}
